<div class="content content-bg">
    <form name="editForm" role="form" ng-submit="vm.register()" show-validation="true" novalidate>

        <!-- alertas -->
        <div class="alert alert-success" ng-show="vm.success" data-translate="register.messages.success">
            <strong>Registration saved!</strong> Please check your email for confirmation.
        </div>

        <div class="alert alert-danger" ng-show="vm.error" data-translate="register.messages.error.fail">
            <strong>Registration failed!</strong> Please try again later.
        </div>

        <div class="alert alert-danger" ng-show="vm.errorUserExists"
             data-translate="register.messages.error.userexists">
            <strong>Login name already registered!</strong> Please choose another one.
        </div>

        <div class="alert alert-danger" ng-show="vm.errorEmailExists"
             data-translate="register.messages.error.emailexists">
            <strong>E-mail is already in use!</strong> Please choose another one.
        </div>

        <div class="alert alert-danger" ng-show="vm.doNotMatch" data-translate="global.messages.error.dontmatch">
            The password and its confirmation do not match!
        </div>
        <!-- end alertas -->

        <!-- título conta -->
        <h4 class="form-section" id="myAccountLabel"
            data-translate="global.form.account.label">Account</h4>
        <!-- end título gerenciar pessoas -->

        <!-- Account Information -->

        <div class="row row-form">
           <div class="form-group col-xs-12 col-sm-6">

               <label class="control-label"
                      for="field_name"
                      data-translate="global.form.name">Name</label>

               <input id="field_login"
                      type="text"
                      class="form-control "
                      name="login"
                      placeholder="{{'global.form.login.placeholder' | translate}}"
                      required
                      ng-model="vm.registerAccount.login"
               />

               <p class="help-block"
                  ng-if="(editForm.name.$dirty || editForm.$submitted) && editForm.name.$invalid"
                  data-translate="global.form.login.error">
                   The name is required.
               </p>
           </div>
       </div>
       
        <div class="row row-form">
            <!-- nome -->
            <div class="form-group col-xs-12 col-sm-6">

                <label class="control-label"
                       for="field_name"
                       data-translate="global.form.name">Name</label>

                <input id="field_name"
                       type="text"
                       class="form-control "
                       name="name"
                       placeholder="{{'global.form.name.placeholder' | translate}}"
                       required
                       ng-model="vm.registerAccount.name"
                />

                <p class="help-block"
                   ng-if="(editForm.name.$dirty || editForm.$submitted) && editForm.name.$invalid"
                   data-translate="global.form.name.error">
                    The name is required.
                </p>
            </div>
            <!-- end nome -->

            <!-- email -->
            <div class="form-group col-xs-12 col-sm-6">
                <label class="control-label"
                       for="email"
                       data-translate="global.form.email">E-mail</label>

                <input class="form-control"
                       id="email"
                       type="email"
                       name="email"
                       placeholder="{{'global.form.email.placeholder' | translate}}"
                       ng-model="vm.registerAccount.email"
                       ng-minlength=5
                       ng-maxlength=100
                       required>

                <!-- validação email -->
                <div ng-if="(editForm.$submitted||editForm.email.$dirty) && editForm.email.$invalid">
                    <p class="help-block"
                       ng-show="editForm.email.$error.required"
                       data-translate="global.messages.validate.email.required">
                        Your e-mail is required.
                    </p>
                    <p class="help-block"
                       ng-show="!editForm.email.$error.required && editForm.$submitted"
                       data-translate="global.messages.validate.email.required">
                        Your e-mail is required.
                    </p>

                    <p class="help-block"
                       ng-show="editForm.email.$error.email"
                       data-translate="global.messages.validate.email.invalid">
                        Your e-mail is invalid.
                    </p>

                    <p class="help-block"
                       ng-show="editForm.email.$error.minlength"
                       data-translate="global.messages.validate.email.minlength">
                        Your e-mail is required to be at least 5 characters.
                    </p>

                    <p class="help-block"
                       ng-show="editForm.email.$error.maxlength"
                       data-translate="global.messages.validate.email.maxlength">
                        Your e-mail cannot be longer than 100 characters.
                    </p>
                </div>
                <!-- end validação email -->
            </div>
            <!-- end email -->

            <div class="clearfix"></div>

            <!-- nova senha -->
            <div class="form-group col-xs-12 col-sm-6">
                <label class="control-label"
                       for="password"
                       data-translate="global.form.newpassword">New password</label>

                <input class="form-control"
                       id="password"
                       type="password"
                       required
                       name="password"
                       placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                       ng-model="vm.registerAccount.password"
                       ng-minlength=4
                       ng-maxlength=50>

                <!-- validação senha -->
                <div ng-if="(editForm.$submitted || editForm.password.$dirty) && editForm.password.$invalid">
                    <p class="help-block"
                       ng-show="editForm.password.$error.required"
                       data-translate="global.messages.validate.newpassword.required">
                        Your password is required.
                    </p>

                    <p class="help-block"
                       ng-show="editForm.password.$error.minlength"
                       data-translate="global.messages.validate.newpassword.minlength">
                        Your password is required to be at least 4 characters.
                    </p>

                    <p class="help-block"
                       ng-show="editForm.password.$error.maxlength"
                       data-translate="global.messages.validate.newpassword.maxlength">
                        Your password cannot be longer than 50 characters.
                    </p>
                </div>
                <!-- end validação senha -->

                <!-- força da senha -->
                <password-strength-bar password-to-check="vm.registerAccount.password"></password-strength-bar>
                <!-- end força da senha -->
            </div>
            <!-- end nova senha -->

            <!-- confirmação de senha -->
            <div class="form-group col-xs-12 col-sm-6">
                <label class="control-label"
                       for="confirmPassword"
                       data-translate="global.form.confirmpassword">New password confirmation</label>

                <input class="form-control"
                       id="confirmPassword"
                       type="password"
                       name="confirmPassword"
                       required
                       placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                       ng-model="vm.confirmPassword"
                       ng-minlength=4
                       ng-maxlength=50>

                <!-- validação confirmação de senha -->
                <div ng-if="(editForm.$submitted || editForm.confirmPassword.$dirty) && form.confirmPassword.$invalid">
                    <p class="help-block"
                       ng-show="editForm.confirmPassword.$error.required"
                       data-translate="global.messages.validate.confirmpassword.required">
                        Your confirmation password is required.
                    </p>

                    <p class="help-block"
                       ng-show="editForm.confirmPassword.$error.minlength"
                       data-translate="global.messages.validate.confirmpassword.minlength">
                        Your confirmation password is required to be at least 4 characters.
                    </p>

                    <p class="help-block"
                       ng-show="editForm.confirmPassword.$error.maxlength"
                       data-translate="global.messages.validate.confirmpassword.maxlength">
                        Your confirmation password cannot be longer than 50 characters.
                    </p>
                </div>
                <!-- end validação confirmação de senha -->
            </div>
            <!-- end confirmação de senha -->
        </div>
        <!-- End Account Information -->


        <!--Button Register-->
        <button type="submit"
                class="btn btn-success col-xs-12"
                data-translate="register.form.button">Register
        </button>
        <!--end Button Register-->
    </form>

</div>
