// ----
// Created by: Tabata Ruiz
// Description: Styles for login, sign up and forgot password
// ----

//
// CONTAINER PRINCIPAL
// ------------------------------------------------------------------
.auth-container {
  display: inline-block;
  width: 100%;
  background: $pale-grey url("/content/images/login_background.png") 0 0 no-repeat;
  background-size: cover;
  overflow-y: hidden;

  @media (min-width: $screen-sm-min) {
    height: calc(100vh - #{$footer-height});
    //background-size: inherit;
  }

  .btn:not(.btn-link) {
    @include box-shadow(0 1px 8px 0 rgba(4, 73, 36, 0.3));
  }
}

.auth-col-left {
  padding: 20px 10px;

  @media (min-width: $screen-sm-min) {
    height: calc(100% - 221px);
    padding: 0;
    padding-left: 30px;
  }

  @media (min-width: $screen-md-min) {
    padding-left: 100px;
  }
}

.auth-col-right {
  padding: 0 10px 20px;

  @media (min-width: $screen-sm-min) {
    padding: 0;
    height: calc(100% - 221px);
    padding-left: 30px;
  }

  @media (min-width: $screen-md-min) {
    padding-left: 100px;
  }
}

.auth-content {
  @media (min-width: $screen-sm-min) {
    @include vertical-align();
  }
}


//
// LOGO
// ------------------------------------------------------------------
.auth-logo {
  height: 94px;
}

//
// TÍTULO
// ------------------------------------------------------------------
.auth-title {
  max-width: 300px;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.11;
  color: $battleship_grey;

  @media (min-width: $screen-sm-min) {
    margin-top: 20px;
    font-size: 36px;
    color: $greyish-brown;
  }
}

//
// SUBTÍTULO
// ------------------------------------------------------------------
.auth-subtitle {
  width: 392px;
  max-width: 100%;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: $battleship_grey;

  @media (min-width: $screen-sm-min) {
    font-size: 28px;
    line-height: 1.5;
  }

  @media (min-width: $screen-md-min) {
    font-size: 34px;
    line-height: 1.76;
  }
}

//
// DESCRIÇÃO
// ------------------------------------------------------------------
.auth-description {
  width: 355px;
  font-size: 16px;
  line-height: 1.2;
  color: $battleship_grey;

  @media (min-width: $screen-sm-min) {
    font-size: 18px;
    line-height: 1.3;
  }

  @media (min-width: $screen-md-min) {
    font-size: 20px;
    line-height: 1.5;
  }
}

//
// FORM
// ------------------------------------------------------------------
.auth-form-container {
  @include horizontal-align();
  display: inline-block;
  width: 330px;
  padding: 35px 35px 14px;
  background: $white;

  @media (min-width: $screen-sm-min) {
    @include none-align();
    @include box-shadow(0 6px 12px 0 #d1d1d1);
  }

  div[class*="col-"] {
    padding: 0;
  }

  &.modal-auth {
    width: 100%;
    display: block;
  }

}

// INPUT
// ------------------
.auth-form-control {
  width: 100%;
  height: 30px;
  padding: 6px 15px;
  font-size: 12px;
  color: $black;
  background-color: $white;
  border: 1px solid $silver;
  border-radius: 1px;
  @include box-shadow(none);

  // Placeholder
  @include placeholder(rgba(0, 0, 0, .33));
}

// INPUT GROUP
// ------------------
.auth-input-group {
  width: 100%;
  margin-bottom: 8px;

  // input group addon
  .input-group-addon {
    width: 37px;
    color: $pinkish-grey;
    background: $white;
    border: 1px solid $silver;
    border-right: 0;
  }
}

// Container Botão
// ------------------
.auth-button-container {
  margin-top: 10px;
}

// Link pequeno
// ------------------
.auth-small-link {
  font-size: 10px;
  font-weight: 500;
  line-height: 40px;
  color: $bluish;
}

// Separador
// ------------------
.auth-separator {
  width: 100%;
  margin: 16px 0;
  text-align: center;
  color: $pinkish-grey;

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    width: 43%;
    height: 1px;
    border-bottom: dashed 0.5px $pinkish-grey;
    content: "";
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}

// Footer form
// ------------------
.auth-form-footer {
  @include box-shadow(0 1px 12px 0 $pinkish-grey-three);

  display: block;
  margin: 80px -35px -14px -35px;
  padding: 6px 10px 14px;
  text-align: center;
  border-radius: 4px;
  background-color: $white-two;

  .btn-link {
    font-size: 18px;
    color: rgba($turquoise_blue, 0.96);
    text-transform: uppercase;
  }
}

.auth-small-text {
  font-size: 10px;
  color: $steel;
}

.auth-medium-text {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: $battleship_grey;
}

//
// INFO
// ------------------------------------------------------------------
.auth-info {
  @include box-shadow(0 -1px 10px 0 rgba(187, 192, 211, 0.4));
  padding: 35px;
  text-align: center;
  background: $pale-grey;

  .title {
    @extend .horizontal-align;
    width: 277px;
    max-width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: $battleship_grey;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

    @media (min-width: $screen-md-min) {
      font-size: 22px;
    }
  }

  .description {
    @extend .horizontal-align;
    width: 277px;
    max-width: 100%;
    font-size: 12px;
    text-align: left;
    line-height: 1.8;
    color: $battleship_grey;

    @media (min-width: $screen-sm-min) {
      font-size: 13px;
      line-height: 2;
    }

    @media (min-width: $screen-md-min) {
      font-size: 14px;
      line-height: 2.14;
    }
  }
}

.v-center {
    display: flex;
    align-items: center;
}
.fill {
    min-height: 100%;
    height: 100%;
    width: fit-content;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
}
.label-login {
    font-size: 14px;
    color: #4a4a4a;
    font-weight: bold;
}
.label-title {
    font-size: 36px;
    font-weight: 100;
    color: #4a4a4a;
}
.label-subtitle {
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 18px;
    color: #4a4a4a;
}
.form-control.input-login {
    height: 42px;
}
.container.container-login {
    width: 60%;
}

.btn-homedical {
    @extend .btn;
    width: 200px;
    height: 50px;
    border-radius: 60px;
    background-color: #00efeb;
    border-color: #00efeb;
    color: #183541;
    font-size: 16sp;
    font-weight: bold;
}
.btn-homedical:hover {
    background-color: #00d5ef;
    border-color: #00d5ef;
}

.btn-save {
    @extend .btn-homedical;
    @extend .btn;
    width: 160px;
    height: 45px;
}

.row .no-float {
    display: table-cell;
    float: none;
}

